.header
  ul.header__menu
    li.header__menu-item
      a(routerLink="/")
        img(src="https://lh5.ggpht.com/T9UIdjibTfzRrZfNd4kyyijrM8g96F-L4qjeEgDWYYlbLJO6X4trgA9PQyb56CNFbg=w50", alt="")
        span &nbsp; Home
  ul.header__menu
    li.header__menu-item
      a(routerLink="/") Find
    li.header__menu-item
      a(routerLink="/compare") Compare