.user-info
  .user-info__main-info
    a([routerLink]=['/']).user-info__logo
      img(src="https://ru-wotp.wgcdn.co/static/5.28.0_293a36/wotp_static/img/user_profile/frontend/scss/img/rating-ribbon.png", alt="")
    .user-info__description
      p.user-info__nickname {{ user.nickname }}
      p.user-info__created-at Created At:&nbsp;
        span {{ user.created_at | date }}
      p.user-info__created-at Last Battle Time:&nbsp;
        span {{ user.last_battle_time | date: 'medium' }}
  .user-info__rating-info
    p.user-info__rating Global Rating:&nbsp;
      span.user-info__rating-value(
        [class.isBigger]="compare(user.account_id, 'global_rating', false)",
        [class.isSmaller]="!compare(user.account_id, 'global_rating', false)"
      ) {{ user.global_rating }}
    p.
    ng-select.stats(
      [items]="statsTypes",
      [(ngModel)]="selectedCategory",
      (change)="onSelect($event)",
      (clear)="onClear()"
    )
.description-table__wrapper
  table.description-table
    tr
      th Field
      th Description  
    tr
      td avg_damage_assisted 
      td(
        [class.isBigger]="compare(user.account_id, 'avg_damage_assisted', true)",
        [class.isSmaller]="!compare(user.account_id, 'avg_damage_assisted', true)"
      ) {{ stats?.avg_damage_assisted }}
    tr
      td avg_damage_assisted_radio 
      td(
        [class.isBigger]="compare(user.account_id, 'avg_damage_assisted_radio', true)",
        [class.isSmaller]="!compare(user.account_id, 'avg_damage_assisted_radio', true)"
      ) {{ stats?.avg_damage_assisted_radio }}
    tr
      td avg_damage_assisted_track 
      td(
        [class.isBigger]="compare(user.account_id, 'avg_damage_assisted_track', true)",
        [class.isSmaller]="!compare(user.account_id, 'avg_damage_assisted_track', true)"
      ) {{ stats?.avg_damage_assisted_track }}
    tr
      td avg_damage_blocked 
      td(
        [class.isBigger]="compare(user.account_id, 'avg_damage_blocked', true)",
        [class.isSmaller]="!compare(user.account_id, 'avg_damage_blocked', true)"
      ) {{ stats?.avg_damage_blocked }}
    tr
      td battle_avg_xp 
      td(
        [class.isBigger]="compare(user.account_id, 'battle_avg_xp', true)",
        [class.isSmaller]="!compare(user.account_id, 'battle_avg_xp', true)"
      ) {{ stats?.battle_avg_xp }}
    tr
      td battles 
      td(
        [class.isBigger]="compare(user.account_id, 'battles', true)",
        [class.isSmaller]="!compare(user.account_id, 'battles', true)"
      ) {{ stats?.battles }}
    tr
      td battles_on_stunning_vehicles 
      td(
        [class.isBigger]="compare(user.account_id, 'battles_on_stunning_vehicles', true)",
        [class.isSmaller]="!compare(user.account_id, 'battles_on_stunning_vehicles', true)"
      ) {{ stats?.battles_on_stunning_vehicles }}
    tr
      td capture_points 
      td(
        [class.isBigger]="compare(user.account_id, 'capture_points', true)",
        [class.isSmaller]="!compare(user.account_id, 'capture_points', true)"
      ) {{ stats?.capture_points }}
    tr
      td damage_dealt 
      td(
        [class.isBigger]="compare(user.account_id, 'damage_dealt', true)",
        [class.isSmaller]="!compare(user.account_id, 'damage_dealt', true)"
      ) {{ stats?.damage_dealt }}
    tr
      td damage_received 
      td(
        [class.isBigger]="compare(user.account_id, 'damage_received', true)",
        [class.isSmaller]="!compare(user.account_id, 'damage_received', true)"
      ) {{ stats?.damage_received }}
    tr
      td direct_hits_received 
      td(
        [class.isBigger]="compare(user.account_id, 'direct_hits_received', true)",
        [class.isSmaller]="!compare(user.account_id, 'direct_hits_received', true)"
      ) {{ stats?.direct_hits_received }}
    tr
      td draws 
      td(
        [class.isBigger]="compare(user.account_id, 'draws', true)",
        [class.isSmaller]="!compare(user.account_id, 'draws', true)"
      ) {{ stats?.draws }}
    tr
      td dropped_capture_points 
      td(
        [class.isBigger]="compare(user.account_id, 'dropped_capture_points', true)",
        [class.isSmaller]="!compare(user.account_id, 'dropped_capture_points', true)"
      ) {{ stats?.dropped_capture_points }}
    tr
      td explosion_hits 
      td(
        [class.isBigger]="compare(user.account_id, 'explosion_hits', true)",
        [class.isSmaller]="!compare(user.account_id, 'explosion_hits', true)"
      ) {{ stats?.explosion_hits }}
    tr
      td explosion_hits_received 
      td(
        [class.isBigger]="compare(user.account_id, 'explosion_hits_received', true)",
        [class.isSmaller]="!compare(user.account_id, 'explosion_hits_received', true)"
      ) {{ stats?.explosion_hits_received }}
    tr
      td frags 
      td(
        [class.isBigger]="compare(user.account_id, 'frags', true)",
        [class.isSmaller]="!compare(user.account_id, 'frags', true)"
      ) {{ stats?.frags }}
    tr
      td hits 
      td(
        [class.isBigger]="compare(user.account_id, 'hits', true)",
        [class.isSmaller]="!compare(user.account_id, 'hits', true)"
      ) {{ stats?.hits }}
    tr
      td hits_percents 
      td(
        [class.isBigger]="compare(user.account_id, 'hits_percents', true)",
        [class.isSmaller]="!compare(user.account_id, 'hits_percents', true)"
      ) {{ stats?.hits_percents }}
    tr
      td losses 
      td(
        [class.isBigger]="compare(user.account_id, 'losses', true)",
        [class.isSmaller]="!compare(user.account_id, 'losses', true)"
      ) {{ stats?.losses }}
    tr
      td max_damage 
      td(
        [class.isBigger]="compare(user.account_id, 'max_damage', true)",
        [class.isSmaller]="!compare(user.account_id, 'max_damage', true)"
      ) {{ stats?.max_damage }}
    tr
      td max_damage_tank_id 
      td(
        [class.isBigger]="compare(user.account_id, 'max_damage_tank_id', true)",
        [class.isSmaller]="!compare(user.account_id, 'max_damage_tank_id', true)"
      ) {{ stats?.max_damage_tank_id }}
    tr
      td max_frags 
      td(
        [class.isBigger]="compare(user.account_id, 'max_frags', true)",
        [class.isSmaller]="!compare(user.account_id, 'max_frags', true)"
      ) {{ stats?.max_frags }}
    tr
      td max_frags_tank_id 
      td(
        [class.isBigger]="compare(user.account_id, 'max_frags_tank_id', true)",
        [class.isSmaller]="!compare(user.account_id, 'max_frags_tank_id', true)"
      ) {{ stats?.max_frags_tank_id }}
    tr
      td max_xp 
      td(
        [class.isBigger]="compare(user.account_id, 'max_xp', true)",
        [class.isSmaller]="!compare(user.account_id, 'max_xp', true)"
      ) {{ stats?.max_xp }}
    tr
      td max_xp_tank_id 
      td(
        [class.isBigger]="compare(user.account_id, 'max_xp_tank_id', true)",
        [class.isSmaller]="!compare(user.account_id, 'max_xp_tank_id', true)"
      ) {{ stats?.max_xp_tank_id }}
    tr
      td no_damage_direct_hits_received 
      td(
        [class.isBigger]="compare(user.account_id, 'no_damage_direct_hits_received', true)",
        [class.isSmaller]="!compare(user.account_id, 'no_damage_direct_hits_received', true)"
      ) {{ stats?.no_damage_direct_hits_received }}
    tr
      td piercings 
      td(
        [class.isBigger]="compare(user.account_id, 'piercings', true)",
        [class.isSmaller]="!compare(user.account_id, 'piercings', true)"
      ) {{ stats?.piercings }}
    tr
      td piercings_received 
      td(
        [class.isBigger]="compare(user.account_id, 'piercings_received', true)",
        [class.isSmaller]="!compare(user.account_id, 'piercings_received', true)"
      ) {{ stats?.piercings_received }}
    tr
      td shots 
      td(
        [class.isBigger]="compare(user.account_id, 'shots', true)",
        [class.isSmaller]="!compare(user.account_id, 'shots', true)"
      ) {{ stats?.shots }}
    tr
      td spotted 
      td(
        [class.isBigger]="compare(user.account_id, 'spotted', true)",
        [class.isSmaller]="!compare(user.account_id, 'spotted', true)"
      ) {{ stats?.spotted }}
    tr
      td stun_assisted_damage 
      td(
        [class.isBigger]="compare(user.account_id, 'stun_assisted_damage', true)",
        [class.isSmaller]="!compare(user.account_id, 'stun_assisted_damage', true)"
      ) {{ stats?.stun_assisted_damage }}
    tr
      td stun_number 
      td(
        [class.isBigger]="compare(user.account_id, 'stun_number', true)",
        [class.isSmaller]="!compare(user.account_id, 'stun_number', true)"
      ) {{ stats?.stun_number }}
    tr
      td survived_battles 
      td(
        [class.isBigger]="compare(user.account_id, 'survived_battles', true)",
        [class.isSmaller]="!compare(user.account_id, 'survived_battles', true)"
      ) {{ stats?.survived_battles }}
    tr
      td tanking_factor 
      td(
        [class.isBigger]="compare(user.account_id, 'tanking_factor', true)",
        [class.isSmaller]="!compare(user.account_id, 'tanking_factor', true)"
      ) {{ stats?.tanking_factor }}
    tr
      td wins 
      td(
        [class.isBigger]="compare(user.account_id, 'wins', true)",
        [class.isSmaller]="!compare(user.account_id, 'wins', true)"
      ) {{ stats?.wins }}
    tr
      td xp 
      td(
        [class.isBigger]="compare(user.account_id, 'xp', true)",
        [class.isSmaller]="!compare(user.account_id, 'xp', true)"
      ) {{ stats?.xp }}
